.container{"ng-app" => "Expensify", "ng-controller" => "ExpensesController", "ng-init" => "populateExpenses()"}
  %h1 Expensify
  .well{"ng-repeat" => "expense in expenses"}
    %h2{"ng-show" => "searching"} Searching
    %h3 {{ expense.name }}
    .btn.btn-default{"ng-click" => "edit(expense)"}
      %i.fa.fa-code
      Edit
    .btn.btn-default{"ng-click" => "delete(expense)"}
      %i.fa.fa-trash-o
      Delete
    %hr
    %p
      Description: {{ expense.description }}
      %strong Category: {{ expense.category }}
  .well
    %ul.pagination
      %li
        %a{"ng-click" => "setPage(currentPage - 1)"}<<
      %li
        %a{"ng-click" => "setPage(currentPage + 1)"}>>

  .col-md-6.well
    %h2 Add Expense
    %form{"ng-submit" => "save()"}
      .form-group
        %label{"for" => "name"} Name
        %input.form-control{"type" => "text", "placeholder" => "Put expense name", "ng-model" => "currentExpense.name"}
      .form-group
        %label{"for" => "name"} Description
        %input.form-control{"type" => "text", "placeholder" => "Description", "ng-model" => "currentExpense.description"}
      .form-group
        %label{"for" => "name"} Category
        %select.form-control{"ng-model" => "currentExpense.category", "ng-options" => "f for f in categories"}
          %option{"value" => ""} Pick a Category
      .form-group
        %button.form-control.btn.btn-primary Submit
  %hr
  %h1 Promise Test
  %button{"ng-click" => "testPromise()"}Click!
  %input{"type" => "checkbox", "ng-model" => "fail"}Fail


